/* ../../../test.blocks/page/page.styl:begin */
.page {
  padding: 20px;
}
/* ../../../test.blocks/page/page.styl:end */
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../../design/common.blocks/page/_theme/page_theme_islands.styl:end */
/* ../../../design/common.blocks/textarea/_theme/textarea_theme_islands.styl:begin */
.textarea_theme_islands {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 2em;
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.textarea_theme_islands::-webkit-input-placeholder {
  color: #999;
  text-indent: 0;
}
.textarea_theme_islands::-moz-placeholder {
  opacity: 1;
  color: #999;
}
.textarea_theme_islands.textarea_focused {
  border: 1px solid rgba(178,142,0,0.6);
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
.textarea_theme_islands.textarea_disabled {
  border: 1px solid rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.4);
  cursor: default;
  resize: none;
}
.textarea_theme_islands.textarea_size_s {
  font-size: 13px;
  line-height: 16px;
  padding-left: 6px;
}
.textarea_theme_islands.textarea_size_m {
  font-size: 13px;
  line-height: 18px;
  padding: 4px 6px;
}
.textarea_theme_islands.textarea_size_l {
  font-size: 15px;
  line-height: 20px;
  padding: 6px 8px;
}
.textarea_theme_islands.textarea_size_xl {
  font-size: 18px;
  line-height: 22px;
  padding-left: 12px;
}
.textarea_theme_islands.textarea_width_available {
  width: 100%;
  resize: vertical;
}
/* ../../../design/common.blocks/textarea/_theme/textarea_theme_islands.styl:end */
